{% extends 'base.html' %} {%block title%}Profile{%endblock title%} {% block content%}
<main id="profile">
    <header class="profile__header">
        <div class="profile__column">
            <img src="{{user.profile_photo.url}}" />
        </div>
        <div class="profile__column">
            <div class="profile__title">
                <h3 class="profile__username">{{user.username}}</h3>
                <a href="edit-profile.html">Edit profile</a>
                <i class="fa fa-cog fa-lg"></i>
            </div>
            <ul class="profile__stats">
                <li class="profile__stat">
                    <span class="stat__number">333</span> posts
                </li>
                <li class="profile__stat">
                    <span class="stat__number">999</span> followers
                </li>
                <li class="profile__stat">
                    <span class="stat__number">36</span> following
                </li>
            </ul>
            <p class="profile__bio">
                <span class="profile__full-name">
                        {{user.get_full_name}}
                    </span> {% if user.bio %}{{user.bio}}{% endif %}
                <a href="{{user.website}}">{{user.website}}</a>
            </p>
        </div>
    </header>
    <section class="profile__photos">
        <div class="profile__photo">
            <img src="images/feedPhoto.jpg" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                        <i class="fa fa-heart"></i>
                        486
                    </span>
                <span class="overlay__item">
                        <i class="fa fa-comment"></i>
                        344
                    </span>
            </div>
        </div>
        <div class="profile__photo">
            <img src="images/feedPhoto.jpg" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                            <i class="fa fa-heart"></i>
                            486
                        </span>
                <span class="overlay__item">
                            <i class="fa fa-comment"></i>
                            344
                        </span>
            </div>
        </div>
        <div class="profile__photo">
            <img src="images/feedPhoto.jpg" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                                <i class="fa fa-heart"></i>
                                486
                            </span>
                <span class="overlay__item">
                                <i class="fa fa-comment"></i>
                                344
                            </span>
            </div>
        </div>
        <div class="profile__photo">
            <img src="images/feedPhoto.jpg" />
            <div class="profile__photo-overlay">
                <span class="overlay__item">
                                    <i class="fa fa-heart"></i>
                                    486
                                </span>
                <span class="overlay__item">
                                    <i class="fa fa-comment"></i>
                                    344
                                </span>
            </div>
        </div>
    </section>
</main>
{% endblock content%}